<p>events-list works!</p>

    <button (click)="goToCreateEvent()" class="bg-blue-600 hover:bg-blue-700 text-white text-xl font-semibold px-8 py-4 rounded-lg shadow-lg transition-all duration-300 hover:shadow-xl transform hover:scale-105">Crea un evento</button>

@if (eventsService.events()) {
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    @for (event of eventsService.events(); track event._id) {
      <div class="bg-white rounded-lg shadow p-4  cursor-pointer hover:shadow-xl transition-shadow duration-300">
        <h3 class="font-bold">{{ event.title }}</h3>
        <!-- <img [src]="apiService.getImageUrl(movie.backdrop_path)" [alt]="movie.title"  class="w-full h-auto pt-2" /> -->
        <p class="text-sm text-gray-600 pt-2 line-clamp-6"><span class="strongKey">Descripción:</span> {{ event.description }}</p>
        <!-- <p class="text-sm text-gray-600 pt-2"><span class="strongKey">Estreno:</span> {{ event.release_date }}</p> -->
      </div>
    }
  </div>
} @else {
  <h2>No hay eventos</h2>
}
