/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

body {
  /* background-color: rgba(248, 239, 109, 0.808); amarillo */
  background-color: rgba(158, 231, 97, 0.808);
  color: white;
  min-height: 100vh;

}
