/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

body {
  /* background-color: rgba(248, 239, 109, 0.808); amarillo */
  background-color: rgba(249, 250, 251, 1);
  color: rgba(28, 25, 23, 1);
  min-height: 100vh;

}
