/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

body {
  background-color: rgba(235, 224, 75, 0.808); /* gray-950 */
  color: white;
  min-height: 100vh;

}
